@import '@yaireo/ui-range';

/* define color variables for blue and magenta*/
:root {
  --blue: #0366d6;
  --viva-magenta: #BB2649;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2b2b2b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Range Slider Styling */

.range-slider {
  --primary-color: var(--viva-magenta) !important;
  --show-min-max: block;
  --ticks-height: 3px !important;

  width: 13rem;
}

.fontSize-range-slider {
  --min: 32;
  --max: 256;
  --step: 1 !important;
  --value: 38;
  --text-value: '38';
}

.speed-range-slider {
  --min: 0.1;
  --max: 20;
  --step: 0.1 !important;
  --value: 2 ;
  --text-value: '2';
}

.amplitude-range-slider {
  --min: 1;
  --max: 512;
  --step: 1 !important;
  --value: 100;
  --text-value: '100';
}

.waveLength-range-slider {
  --min: 1;
  --max: 128;
  --step: 1 !important;
  --value: 16;
  --text-value: '16';
}

.knob {
  position: absolute;
  top: 80%;
  left: 4%;
}